.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

}


.link{
  background-color: #fff;
  border: 1px solid #0077b5;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 25px;
  border-radius: 0.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #0077b5;
  }

  .link svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }

  .link:hover p {
    left: 0.6em;
    color: #fff
  }

  .link:hover svg {
    opacity: 1;
  }

  .link:hover {
    background-color: #0077b5;
  }